@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<hr />

<h3>Rent-A-Ride</h3>
<address>
    Sillicon Hub<br />
    Surat, Gujarat.<br />
    <p title="Phone">Ph : +91 9873623587</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<br />
<br />
